# Default configurations for local development
VITE_APP_TITLE=Infinite Whiteboard
VITE_STORAGE_PROVIDER=local

# Google OAuth Configs
VITE_GOOGLE_CLIENT_ID=your_google_client_id_here
VITE_GOOGLE_CLIENT_SECRET=your_google_client_secret_here
VITE_GOOGLE_REDIRECT_URI=http://localhost:5173/auth/callback
